/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.btn-bg-color{
    background-color: #f496d22f;
    mix-blend-mode: normal;
    border-radius: 24px;
}
.bg-color{    
    background-color: #3F87F5;
    mix-blend-mode: normal;
    border-radius: 26px;
    color: white;
}
.btn-bg-color1{
    background-color: #FFFFFF;
    mix-blend-mode: normal;
    border-radius: 24px;
}